<div fxLayout="row wrap" *ngIf="this.authorizationService.isAuthorized('operador')" >
  <div fxFlex="100">
    <mat-card class="card">

      <!-- TITULO CABECERA -->
      <mat-card-header>
        <img mat-card-avatar src="assets/images/img/documentos1.jpg" class="header-image"/>
        <mat-card-title>Productos</mat-card-title>
        <span fxFlex></span>
        <div style="text-align: right;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100" >
          <button *ngIf="this.authorizationService.isAuthorized('operador')" mat-button color="primary" (click)="insertRow()">
            <mat-icon>add</mat-icon>
            Nuevo</button>
        </div>
        <div style="text-align: right;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100" >
          <button mat-button color="primary" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>{{ _words.esp.opciones }}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="downloadpdf()">{{ _words.esp.reportePDF }}</button>
              <button mat-menu-item (click)="downloadxlsx()">{{ _words.esp.reporteExcel }}</button>
            </mat-menu>
        </div>
      </mat-card-header>
      <!-- FIN CABECERA -->
    
      <!--BUSQUEDA AVANZADA-->
      <div fxLayout="row wrap">
        <div fxFlex="100" style="background-color: aqua;">

          <!-- CATEGORIA -->
          <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline" >
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="tipo">
                  <mat-option value="">TODOS</mat-option>
                  <mat-option *ngFor="let option of this.dataOptions.documentos" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <!-- MARCA -->
          <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline" >
                <mat-label>Marca</mat-label>
                <mat-select formControlName="mercado">
                  <mat-option value=''>TODOS</mat-option>
                  <mat-option *ngFor="let option of this.dataOptions.mercado" [value]="option.cod_ele" >{{option.descrip}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <!-- MODELO -->
          <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100" >
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>Modelo</mat-label>
                <input type="text"  matInput formControlName="numero" maxlength = "4" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                <button mat-button *ngIf="formGroup.controls['numero'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['numero'].setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>

          <!-- MEDIDA -->
          <div fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100" >
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>Medida</mat-label>
                <input type="text" maxlength = "100" matInput formControlName="titulo" onkeypress="return (event.charCode != 39)">
                <button mat-button *ngIf="formGroup.controls['titulo'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['titulo'].setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>

          <!-- BOTON DE LIMPIAR -->
          <div style="text-align: center;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100" >
            <button mat-button class="form-search" color="primary" (click)="setForm()">
              <mat-icon>autorenew</mat-icon>
              Limpiar
            </button>
          </div>

        </div>
      </div>
      <!-- FIN BUSQUEDA AVANZADA -->

      <!-- TABLA -->
      <div fxLayout="row wrap">
        <div fxFlex="100" style="background-color: blueviolet !important;">
          <!-- CABECERAS DE LA TABLA -->
          <div fxLayout="row wrap"  class="form-table-head" matSort (matSortChange)="sortData($event)" matSortActive="rc_fecha" matSortDirection="desc" matSortDisableClear>
            <div *ngFor="let config of headersTable" [mat-sort-header]="config.name" [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="100" fxFlex="100">
              {{config.label}}
            </div>
            <span fxFlex></span>
            <div fxFlex="10">
            </div>
          </div>
          <!-- FIN CABECERAS DE LA TABLA -->
      
          <!-- DATA DE LA TABLA -->
          <div fxLayout="row wrap" *ngFor="let config of data">
      
            <!-- CATEGORIA -->
            <div class="form-table-body"   fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
              <div class="form-table-body" >
                {{config['categoria']}}
              </div>
            </div>
            <!-- MARCA -->
            <div class="form-table-body"   fxFlex.gt-lg="19" fxFlex.gt-md="19"  fxFlex.gt-xs="100" fxFlex="100">
              <div class="form-table-body" >
                {{config['marca']}}
              </div>
            </div>
            <!-- MODELO -->
            <div class="form-table-body"   fxFlex.gt-lg="8" fxFlex.gt-md="8"  fxFlex.gt-xs="100" fxFlex="100">
              <div class="form-table-body" >
                {{config['modelo']}}
              </div>
            </div>
            A<!-- MEDIDA -->
            <div class="form-table-body"   fxFlex.gt-lg="8" fxFlex.gt-md="8"  fxFlex.gt-xs="100" fxFlex="100">
              <div class="form-table-body" >
                {{config['rc_fecha']| date:'dd/MM/yyyy'}}
              </div>
            </div>
      
            <span fxFlex></span>
      
            <!-- BOTONES -->
            <div fxFlex="10">
                <button mat-icon-button matTooltip="Editar" (click)="updateRow(config)">
                  <mat-icon color="accent">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar" (click)="deleteRow(config)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Aprobado" (click)="documentRow(config)">
                  <mat-icon style="color: green;">verified_user</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Pendiente" (click)="documentRow(config)">
                  <mat-icon color='warn'>privacy_tip</mat-icon>
                </button>
            </div>
      
            <mat-divider></mat-divider>
          </div>
          <!-- FIN DATA DE LA TABLA -->
      
          <!-- PAGINACION DE LA TABLA -->
          <div >
            <mat-paginator [length]="count" [pageSize]="page.size" [pageIndex]="page.index" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="dataTableUpdate($event)"></mat-paginator>
          </div>
          <!-- FIN PAGINACION DE LA TABLA -->
        </div>
      </div>
      <!-- FIN DE LA TABLA -->


    </mat-card>
  </div>
</div>
