<!-- HEADER -->
  <div fxLayout="row wrap">
    <div>
      <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
    </div>
    <span fxFlex></span>
    <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title class="head-dialog" style="text-align: center;">{{_words.esp.titulo}}</h2>
<!--FIN DEL HEADER -->

<!-- BODY -->
  <div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
    <!-- FORMULARIO -->
      <!-- SUBTITULO FORMULARIO -->
        <mat-card-subtitle>{{_words.esp.datosDocumento}}</mat-card-subtitle>
      <!-- FIN SUBTITULO FORMULARIO -->
      <!-- FORMULARIO INSECION -->
        <div fxLayout="row wrap">
      <!----------------------- FILA 1 ----------------------------->
        <!-- CATEGORIA -->
          <div fxFlex="50">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="rc_inten">
                  <mat-option *ngFor="let option of this.dataOptions.institucion" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
                <mat-error >Seleccione una instititucion</mat-error>
              </mat-form-field>
            </form>
          </div>

          <!-- MARCA -->
          <div fxFlex="50">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Marca</mat-label>
                <mat-select formControlName="rc_mercado">
                  <mat-option *ngFor="let option of this.dataOptions.mercado" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
                <mat-error >Seleccione el Mercado</mat-error>
              </mat-form-field>
            </form>
          </div>

          <!-- TIPO DOCUMENTO -->
          <div fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Medida</mat-label>
                <mat-select formControlName="rc_tipo">
                  <mat-option *ngFor="let option of this.dataOptions.documentos" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
                <mat-error >Seleccione una tipo de documento</mat-error>
              </mat-form-field>
            </form>
          </div>

        <!-- FECHA -->
          <div fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Modelo</mat-label>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="rc_fecha" readonly>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
          </div>

      </div>
      <!-- FIN DEL  FORMULARIO INSECION -->
  </div>
<!--FIN DEL BODY -->

<!-- ACTIONS -->
  <div mat-dialog-actions fxLayout="row wrap"   >
    <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" >
        <div class="form-element" >
          <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid"><mat-icon>save</mat-icon> Guardar</button>
        </div>
        <div class="form-element" >
        </div>
      </form>
    </div>
  </div>
<!-- FIN DE ACTIONS *ngIf="dataRow.length==0"-->
